<header class="nav" role="navigation" aria-label="Principal">
  <div class="brand">
    <span class="logo">☀</span>
    <span class="title">SolarWeb</span>
  </div>

  <!-- Tabs: ocultar en /login -->
  <nav class="tabs" role="tablist" *ngIf="!isLogin()">
    <!-- Pestaña Gráficos -->
    <a routerLink="/graficos"
       routerLinkActive="active"
       class="tab"
       [attr.aria-current]="(true ? 'page' : null)">Gráficos</a>

    <!-- Pestaña Exportar -->
    <a routerLink="/exportar"
       routerLinkActive="active"
       class="tab">Exportar</a>
    <a routerLink="/solicitudes" routerLinkActive="active" class="tab">Solicitudes</a>

  </nav>
</header>
