:3002 {
  # API
  handle /api/* {
    reverse_proxy backend-solarweb:4002
  }

  # Soporte Swagger cuando lo miras vía /api/docs
  handle /openapi.json {
    reverse_proxy backend-solarweb:4002
  }
  handle /docs/* {
    reverse_proxy backend-solarweb:4002/docs
  }

  # SPA
  handle {
    root * /usr/share/caddy
    try_files {path} /index.html
    file_server
  }

  log {
    output stdout
    level debug
  }
}
